# Tyler Banks
## Week 5 - 09/21/21
### Python For Loops

** General For Loops Format **

for item in object:
    statements to do work

In [1]:
sc = [68,87,90,89,92,78,88,75,79,85]

In [2]:
sc

[68, 87, 90, 89, 92, 78, 88, 75, 79, 85]

In [3]:
for n in sc:
    print(n)

68
87
90
89
92
78
88
75
79
85

In [4]:
4 % 2

0

In [5]:
11 % 2

1

In [6]:
for num in sc:
    if num % 2 == 0:
        print(num)

68
90
92
78
88

In [7]:
for num in sc:
    if num % 2 != 0:
        print(num)

87
89
75
79
85

In [8]:
for num in sc:
    if num % 2 == 0:
        print(num)
    else:
        print("Odd score!")

68
Odd score!
90
Odd score!
92
78
88
Odd score!
Odd score!
Odd score!

In [9]:
sc_sum = 0

for n in sc:
    sc_sum = sc_sum + n
    
print(sc_sum)

831

In [10]:
sc_sum = 0

for n in sc:
    sc_sum = sc_sum + n
    
avg = sc_sum / len(sc)
print(avg)

83.1

In [11]:
for letter in 'I am a student in CIS310!':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0
!

In [12]:
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [13]:
ls1 = [(10,20), (30,40), (50,60), (70,80), (90,100)]

In [14]:
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [15]:
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [16]:
for (t1,t2) in ls1:
    print(t1)

10
30
50
70
90

In [17]:
for (t1,t2) in ls1:
    print(t2)

20
40
60
80
100

In [18]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [19]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [20]:
for item in d:
    print(item)

brand
model
year

In [21]:
for key in d:
    print(item)

year
year
year

In [22]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [23]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [24]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [25]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [26]:
for k,v in d.items():
    print(k)
    print(v)

brand
Ford
model
Mustang
year
1964

In [27]:
for k in d.keys():
    print(k)

brand
model
year

In [28]:
for tup in d.items():
    print(tup)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [29]:
sorted([5,6,7,8])

[5, 6, 7, 8]

In [30]:
d1 = {'k1':5, 'k2':8, 'k3':3}

In [31]:
d1.values()

dict_values([5, 8, 3])

In [32]:
sorted(d1.values())

[3, 5, 8]

In [33]:
fruits = ['Apple', "Banana", "Cherry"]

for f in fruits:
    print(f)

Apple
Banana
Cherry