# Tyler Banks
## Week 8 - 03/14/2021
### Python Functions - Continued

In [1]:
def full_name(fname,lname):
    return fname + ' ' + lname

In [3]:
full_name('Tyler', 'Banks')

'Tyler Banks'

In [14]:
# find a number is prime
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            print(num, 'is not prime')
            break
    else:
        print(num,'is prime')

In [15]:
is_prime(16)

16 is not prime

In [17]:
is_prime(30)

30 is not prime

In [18]:
is_prime(7)

7 is prime

In [19]:
for n in range(2,15):
    print(n)
is_prime(15)

2
3
4
5
6
7
8
9
10
11
12
13
14
15 is not prime

In [21]:
#min_two_odds(3,5) --> 3
#min_two_odds(4,9) --> 9
def min_two_odds(n1,n2):
    if n1%2 !=0 and n2%2 !=0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [22]:
min_two_odds(9,3)

3

In [23]:
min_two_odds(9,2)

9

In [26]:
#check if two-word string starts with the same letter
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [27]:
txt = 'Python Program'
txt.split()

['Python', 'Program']

In [29]:
two_words_letters('Python Program')

True

In [30]:
two_words_letters('Java Program')

False

In [31]:
#reduce
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [32]:
#create_thirty(10,20) --> True
#create_thirty(5,30) --> True
#create_thirty(5,20) --> False
def create_thirty(num1,num2):
    if (num1+num2) == 30:
        return True
    elif num1 == 30:
        return True
    elif num2 == 30:
        return True
    else:
        return False

In [33]:
create_thirty(20, 30)

True

In [34]:
create_thirty(5,30)

True

In [36]:
create_thirty(5,20)

False

In [39]:
#reduce
def create_thirty(num1,num2):
    return (num1+num2) == 30 or num1 == 30 or num2 == 30

In [40]:
create_thirty(5,20)

False

In [57]:
#'programming' --> Programming
w = 'macdonald'
w.capitalize()

'Macdonald'

In [42]:
w[:3]

'tyl'

In [49]:
ww = w[:3].capitalize()

In [45]:
doubleu = w[3:].capitalize()

In [46]:
doubleu

'Er'

In [50]:
ww + doubleu

'TylEr'

In [65]:
def caps_two_letters(word):
    if len(word) > 3:
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1 + part2
    else:
        return 'sorry, the word is too small'

In [66]:
caps_two_letters('macdonald')

'MacDonald'

In [67]:
caps_two_letters('cis')

'sorry, the word is too small'

In [1]:
#reverse a statement
str1 = 'I am home'
lst = str1.split()

In [2]:
lst

['I', 'am', 'home']

In [4]:
lst.reverse()

In [5]:
lst

['home', 'am', 'I']

In [6]:
' '.join(lst)

'home am I'

In [8]:
def rv_stat(txt):
    lst = txt.split()
    lst.reverse()
    return ' '.join(lst)

In [9]:
rv_stat('I am home')

'home am I'

In [10]:
rv_stat('home am I')

'I am home'

In [12]:
def rv_stat(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(txt.split)[::-1]

In [15]:
# check if a list has number 5 next to number 5 somewhere in the list
#[2,4,5,10] - > true
#[3,4,5,6,5,8] - > false
def has_55(lst):
    for i in range(0,len(lst)-1):
        if lst[i] == 5 and lst[i+1] == 5:
            return True
        
    return False

In [16]:
has_55([3,4,5,5,10])

True

In [17]:
has_55([3,4,5,6,5,8])

False

In [23]:
# check code 001 in a list
# [1,4,5,0,0,1,8] -> true
# [1,0,2,5,0,6,1,8] -> true
# [1,5,6,0,6,7,8,0] -> false

def check_code(lst):
    
    code = [0,0,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) # remove the number at index 0
            
    return len(code) == 1

In [24]:
check_code([1,0,0,1,6,8,9])

True

In [25]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [26]:
code.pop(0)
code

[1, 's']

In [27]:
# number of arguments
def full_name(fname,lname):
    print(fname + " " + lname)
    
full_name('Tyler','Banks')

Tyler Banks

In [29]:
def full_name(*names):
    
    if (len(names) == 1):
        print(names[0])
    else:
        print(names[0] + " " + names[1])
        
full_name('Tyler','Banks')

Tyler Banks

In [30]:
full_name('Tyler')

Tyler

In [35]:
def sum_nums(a,b):
    return sum((a,b))

In [36]:
sum_nums(10,15)

25

In [37]:
sum_nums(100,15)

115

In [38]:
def sum_nums(*n):
    return sum(n) * 0.1

In [39]:
sum_nums(100)

10.0

In [40]:
sum_nums(100,9,4)

11.3

In [43]:
def my_kids(child1,child2,child3) :
    print("my first child " + child1 + " my second child " + child2 + " my third child " + child3)

In [44]:
my_kids('Isaiah','Tyler','Lily')

my first child Isaiah my second child Tyler my third child Lily

In [45]:
my_kids(child2 = "Tyler", child1 = "Isaiah", child3 = "Lily")

my first child Isaiah my second child Tyler my third child Lily