# Tyler Banks
## Week 9 - 03/20/2021
### Python - Lambda Function

In [2]:
def double(num):
    return num * 2

print(double(3))

6

In [3]:
def square(x):
    return x**2

square(5)

25

In [4]:
'''
lambda arguments: expression
'''

double = lambda x:x*2

print(double(4))

8

In [5]:
# find larger number using lambda function

larger = lambda a,b: a if a > b else b

print(larger(5,10))

10

In [6]:
# higher-order functions, such as map(), filter(), sort(), etc

nums = [1,2,3,4,5,6,7]

map(square,nums)

In [7]:
mylist = list(map(square,nums))

In [8]:
mylist

[1, 4, 9, 16, 25, 36, 49]

In [9]:
for item in map(square,nums):
    print(item)

1
4
9
16
25
36
49

In [11]:
def evenwords(w):
    if (len(w)%2 == 0):
        return "EVEN"
    else:
        return w[0:2]
    
evenwords("Dodge")

'Do'

In [12]:
words = ["Ford","Nissan","GMC","Mazda","Dodge","BMW"]

list (map(evenwords,words))

['EVEN', 'EVEN', 'GM', 'Ma', 'Do', 'BM']

In [13]:
list(map(lambda x:x**2,nums))

[1, 4, 9, 16, 25, 36, 49]

In [16]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [18]:
list(map(lambda w:w[0],words))

['F', 'N', 'G', 'M', 'D', 'B']

In [17]:
list(map(lambda w:w[::-1], words))

['droF', 'nassiN', 'CMG', 'adzaM', 'egdoD', 'WMB']

In [20]:
def even(num):
    return num%2 == 0

even(5)

False

In [21]:
even(8)

True

In [22]:
even(120)

True

In [23]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [28]:
filter(even,nums)

In [29]:
list(filter(lambda x:x%2==0,nums))

[2, 4, 6]

In [30]:
list(map(lambda x:x%2==0,nums))

[False, True, False, True, False, True, False]

In [41]:
# using lambda with sort

names = ["Bethany",  "Tyler", "Floyd", "Zlatan", "Lionel", "Kawhi"]

names.sort()

In [42]:
names

['Bethany', 'Floyd', 'Kawhi', 'Lionel', 'Tyler', 'Zlatan']

In [43]:
# change the key to sort based on the length of the name
names.sort(key = lambda n:len(n))

In [44]:
names

['Floyd', 'Kawhi', 'Tyler', 'Lionel', 'Zlatan', 'Bethany']

In [45]:
def xyz(m):
    pass

In [48]:
"test"

'test'

In [49]:
'test'

'test'